<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="createContainer">
        <div class="createPageContent">
            <h1 class="pageHeading">Create</h1>

            <form method="POST" action="/create">
                <div class="inputs">
                    <textarea name="question" id="questionInput" placeholder="Question" required></textarea></br>
                    <textarea name="answer" id="answerInput" placeholder="Answer" required></textarea></br>
                </div>
                <button class="button createButton" type="submit">Create</button>
                <button class="button cancelButton" onclick="location.href = '/';">Cancel</button>
            </form>

        </div>
    </div>
</body>
</html>