<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/edit/<%= card._id %>">
        <label>Question / Concept:<input type="text" name="question" value="<%= card.question %>" required></label></br>
        <label>Answer / Definition:<input type="text" name="answer" value="<%= card.answer %>" required></label></br>
        <button type="submit" value="Update">Update</button>
    </form>
    <button onclick="location.href = '/';">Home</button>
</body>
</html>